.cover__link {
    grid-area: 1 / -1;
    text-decoration: none;
    background-size: cover;
    background-image: url(../../../images/__background.png);
    background-color: rgba(42, 44, 47, 0.3);
    background-blend-mode: multiply;
    transition-duration: 2s;
    cursor: pointer;
}

.cover__link:hover {
    background-color: rgba(42, 44, 47, 0.8);
}