.cover__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    max-width: 360px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: relative;
    opacity: 1;
}

@media screen and (min-width: 1280px) {
    .cover__subtitle {
        margin-bottom: 245px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover__subtitle {
        margin-bottom: 195px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover__subtitle {
        margin-bottom: 115px;
    }
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
        margin-top: 0;
        margin-bottom: 33px;
    }
}