.place__paragraph {
    font-weight: 400;
    line-height: 163%;
    color: #ffffff;
    padding: 0;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
    .place__paragraph {
        font-size: 18px;
    }
    .place__paragraph:not(:last-of-type) {
        margin-bottom: 26px;
    }
}

@media screen and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .place__paragraph {
        width: 484px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place__paragraph {
        width: 456px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__paragraph {
        width: 352px;
    }
    .place__paragraph:not(:last-of-type) {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        width: 288px;
        margin-right: auto;
        margin-left: auto;
    }
    .place__paragraph:not(:last-of-type) {
        margin-bottom: 25px;
    }
}